<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weed Chat</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-bX/fjaTtTz3qftLcSxSx0bz0P+qrG16Tk19MJoxi4X9MzC67Q4tf1LV6w5U5r5U8zkNQlNpsU6B1U6ivnXNHjA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', path='images/weed.png') }}">
    <script src="{{ url_for('static', path='js/script.js') }}"></script>
</head>

<body>
    <div class="chat-body card">
        <div class="card-body p-5">
            <h4 class="card-title text-center text-xl font-medium">
                Weed Chat
                <img src="{{ url_for('static', path='images/weed.png') }}" style="width: 75px; height: 75px; margin-left: 10px;">
            </h4>
            <p class="card-text text-center text-sm" id="header"> Ask a question </p>
            <hr class="border-gray-500 mb-5" style="margin-top: 20px;">
            <div id="messages" class="overflow-auto" style="max-height: 500px;">
            </div>
            <form action="" class="form-inline mt-5" id="chat-form" onsubmit="sendMessage(event)">
                <input type="text" class="form-control" placeholder="Write your question" id="messageText">
                <button id="send" type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</body>
</html>